*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border: 1px solid #585858;
  --back: rgba(210, 93, 50, .75);
  --color: #000; 
  --color-testimonio: #700808;
  --box-shadow: 0px 0px 5px rgba(0, 0, 0, .75);
}

body {
  font-family: 'Oswald', sans-serif;
  background: rgb(244, 164, 96);
}

.contenedor img {
  max-width: 100%;
  width: 150px;

}

header {
  width: 100%;
  height: 600px;
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2c53636b, #03632b7c, #033a0848), url(../img/pizza1.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2c53636b, #03632b7c, #033a0848), url(../img/pizza1.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;

}

.contenedor {
  padding: 20px 0;
  max-width: 1000px;
  width: 90%;
  margin: auto;
  overflow: hidden;

}

.menu-inicio {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  align-items: center;

}

/* ===== MENU PIZZA INICIO ===== */

.menu-inicio .menu-pizza {
  cursor: pointer;
  position: fixed;
  top: 60px;
  right: 50px;
  height: 60px;
  width: 60px;
  background: rgb(244, 164, 96);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  
}

.menu-inicio .menu-pizza img {
  width: 100%;
  height: 100%;
}

.menu-inicio a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding: 10px;

}

.menu-inicio a:hover {
  text-decoration: underline;
  color: #700808;
}

.texto-header {
  text-align: center;
  color: #fff;
  padding: 70px;
}

.texto-header h1 {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.texto-header h1:hover {
  color: #700808;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.contenedor-nosotros h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  padding: 40px;
}

/*  PIZZAS  */

.pizzas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.pizzas img {
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: var(--color);
}

.pizzas img:hover {
  transform: scale(1.2);
}

/*===== TESTIMONIOS ======*/

.testi {
  text-align: center;
  color: black;
  font-size: 30px;
}

.testimonios-contenedor {
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: auto;
  background-color: var(--color-testimonio);
  color: white;

}

.slider-contenedor {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;

}

.slider-testimonio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  align-items: center;

}

.slider-testimonio p {
  font-size: 20px;
  font-style: italic;

}

.testimonios-contenedor h3 {
  text-align: center;
}

.cont-testimonios img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
}

/* ACERCA DE */

.nosotros h2 {
  text-align: center;
  font-size: 40px;
  padding: 30px;
}

.imagen-nosotros {
  background-image: url(../img/nosotros1.jpg);
  background-position: center center;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

/* UBICACION */
.ubicacion {
  text-align: center;
  font-size: 20px;
}

.direccion {
  font-style: italic;
  color: #700808;
}

.horarios p {
  font-style: italic;
  color: #700808;
}

/* FOOTER */

.footer .margen {
  padding: 35px 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  overflow: hidden;
  background: #700808;
  color: white;
}
.menu-footer a {
  color: white;
}